
body{
    background-color: #181a1b;
}

#main-container{
    position: relative;
}

.main-title{
    display: table;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1200px;
    height: 300px;
    text-align: center;
    
    border: solid 1px #dddfe2;
} .main-title > pre{
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
}

.main-options{
    /* div center */
    margin: auto;
    
    border: solid 1px white;
    width: 1200px;
    height: auto;
    padding: 30px 20px;
    margin-bottom: 50px;
} .options-title{
    color: white;
    margin-bottom: 50px;
} .detail-options{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
} .custom-control-label{
    color: white;
}

.main-result{
    margin: auto;
    width: 1200px;
    margin-bottom: 120px;
    display: none;
} .table-hover{
    color: white;
} .result-title{
    color: white;
    margin-bottom: 30px;
} .result-title > a{
    text-decoration: none;
    color: white;
} .result-title > a:hover{
    text-decoration: none;
    color: white;
}

#footer{
    margin: auto;
    width: 1200px;
    color: #53595d;
    margin-top: 100px;
    margin-bottom: 100px;
}